<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">-->
    <style>
        tr:hover td {
            background: #d8ffdc;
        }
    </style>
    <title>stuff</title>

    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        "use strict";

        var app = angular.module( 'app', [])

        app.factory("Data", function () {
            return {
                questions: null,
                answers: [{
                        "answer_id": 0,
                        "text": "no",
                    },
                    {
                        "answer_id": 1,
                        "text": "yes",
                    }
                ],
                submissions: {}
            }
        })
        app.controller('InputController', function ($scope, Data) {
            this.inputText = "";

            this.onChange = function (newVal) {
                if (typeof newVal === "string" && newVal.length > 0) {
                    let obj;
                    this.status = "OK"
                    try {
                        obj = JSON.parse(newVal);
                    }
                    catch (e) {
                        this.status = "JSON parsing failed"
                    }
                    var result = this.build(obj)

                    Data.questions = result;
                    console.log(Data.questions)
                }
            };

            this.build = function (objects) {
                let res = []

                for (let key in objects) if (objects.hasOwnProperty(key)) {
                    let text = objects[key]
                    let q = {
                        question_id: key,
                        text: text,
                        answers: Data.answers,
                        answer_id: null
                    }
                    console.assert(angular.isArray(q.answers), "should be array " + JSON.stringify(q))
                    console.assert(!!q.question_id, "id should be set")

                    res.push(q)
                }

                return res
            }
        });

        app.controller("QuestionsController", function (Data) {

            // vm for questions
            Object.defineProperty(this, "questions", {
                get: () => {
                    return Data.questions
                }
            })

            // vm for result JSON array
            Object.defineProperty(this, "submissions", {
                get: () => {
                    return Data.submissions
                }
            })


        });

    </script>
    <!--<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">-->


</head>
<body ng-app="app" ng-cloak>

<div class="row"  ng-controller="QuestionsController as questionsCtrl">
    <div class="col-md-6">


        <h2>Questions</h2>

        <p>Question: Is the comment-author determined to go, according to the proposal in the post?

        <p>Examples: "yep!" "I'm on my way there now.." "I'll be there after 18 or something"

        <hr>
        <table>
            <thead>
            <tr>
                <th>Q</th>
                <th>A</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="question in questionsCtrl.questions | limitTo:20 track by question.question_id">
                <td valign="top" style="max-width: 400px" ng-bind="::question.text"></td>
                <td valign="top">
                    <div ng-repeat="answer in question.answers track by $index">
                        <label>
                            <input type="radio" ng-model="questionsCtrl.submissions[question.question_id]" value="{{::$index}}">
                            {{::answer.text}}
                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-6">


        <div valign="top" ng-controller="InputController as ctrl">
            <h3>Input JSON</h3>
            <textarea ng-model="ctrl.inputText"
                      ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 333, 'blur': 0 } }"
                      rows="15" cols="60"
                      ng-change="ctrl.onChange(ctrl.inputText)"></textarea>
            <div ng-bind="ctrl.status"></div>
        </div>

        <hr>

        <h3>Result</h3>
        <textarea cols="60" rows="14" ng-bind="questionsCtrl.submissions | json:2"></textarea>

    </div>
</div>

</body>
</html>